*{
    text-decoration: none;
}
header{
    display: flex;
    background-color: yellow;
}
.logo-img{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid blue;
}
.heading{
    color: red;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
.hamburger{
    float: left;
    height: 40px;
    width: 40px;
    padding-top: 8px;
    position: absolute;
    right: 10px;
    
}
/* navigation bar */
.navigation{
    display: flex;
    background-color: orange;
   
    padding: 10px 10px;
   justify-content: end;
}
.c {
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.c:hover{
    color:blue;
    text-decoration: underline;
    
}
 /* navigation bar end */

 .dog-img{
    height: 200px;
    width: 250px;
    border-radius: 20px 20px 0px 0px ;
 }
 .card{
    width: 250px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px gray;
    border-radius: 20px ;
    text-align: center;
 }
 .btn-adop{
    width: 100px ;
    background-color: black;
    color: white;
    padding: 10px 15px ;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;

 }